body{
    background-color: lightgray;
}

header{
    background-color: rgb(62, 62, 209);
}

#img-BMW{
    width: 300PX;
}

.paragrafo{
    text-aling: center;
    padding: 50px;
    font-size:20px;
}